<h2>All Events</h2>

{{#if useradmin}}
<a href="/events/new" class="btn btn-success">Create an event</a>
{{/if}}

<br><br>

<div class="card-columns">


{{#each event}}


<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="{{this.imgPath}}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{this.name}}</h5>
    <p class="card-text">{{this.description}}</p>
    <a href="/events/{{this._id}}" class="btn btn-outline-success">View event</a>     

  </div>
</div>
   
{{/each}}

</div>