<h2>Create an Event</h2>


<br><br>

<div class="col-sm-9">

    <div class="tab-content">
        <div class="tab-pane active" id="home">

            <form action="/events" method="POST" enctype="multipart/form-data">



                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="name">
                            <h4>Event Name</h4>
                        </label>
                        <input type="text" name="name" class="form-control" placeholder="Free Tour">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="date">
                            <h4>Date</h4>
                        </label>
                        <input type="datetime-local" name="date" class="form-control" id="date" placeholder="date" min="2018-12-21T00:00"
                            max="2018-12-30T00:00">
                    </div>
                </div>
                <div class="form-group">
                    <label for="description">
                        <h4>Description</h4>
                    </label>
                    <textarea name="description" class="form-control" id="description" rows="3"></textarea>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="capacity">
                            <h4>Capacity</h4>
                        </label>
                        <input type="number" name="capacity" class="form-control" id="capacity">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="category">
                            <h4>Category</h4>
                        </label>
                        <select name="category" id="inputState" class="form-control">
                            <option value="street" selected>Street</option>
                            <option value="cultural">Cultural</option>
                            <option value="gastronomy">Gastronomy</option>
                            <option value="other">Other</option>
                        </select>
                    </div>
                    <div class="form-group col-md-2">
                        <label for="price">
                            <h4>Price</h4>
                        </label>
                        <input type="number" name="price" class="form-control" id="price">
                    </div>


                    <div class="form-row">
                        <div class="form-group col-md">
                            <label for="photo">
                                <h4>Upload a picture</h4>
                            </label>
                            <input type="file" name="photo" class="form-control">
                        </div>
                    </div>

                    <br><br><br>
                    <div id="mapa"></div>






                </div>
                <input type="text" name="latitude" placeholder="latitude">
                <input type="text" name="longitude" placeholder="longitude">
                <button class="btn btn-lg btn-outline-success" type="submit">Add new event</button>
                <button class="btn btn-lg btn-outline-secondary" type="reset"><i class="fas fa-redo-alt"></i> Reset</button>

            </form>

        </div>

        <br>


    </div>
</div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB5zV84IbllnzEJ1PwadGFWFlWG76R_ho8&libraries=geometry"></script>
<script src="/javascripts/getMapEvent.js"></script>
