    <div class="file2">


        <div class="row">
          <div class="col-sm">

<div class="container file1">
  <h1>Eventos en Madrid</h1>
</div>
            
            <div class="card text-center">
              <div class="card-header">
                Diviértete
              </div>
              <div class="card-body">
                <h5 class="card-title">Encuentra eventos cerca de ti</h5>
                <p class="card-text">Regístrate y encuentra todos los eventos que empiezan en los próximos minutos a tu alrededor.</p>
                <a href="/auth/signup" class="btn btn-outline-success">Buscar eventos</a>
              </div>
              <div class="card-footer text-muted">
                Regístrate como cliente
              </div>
            </div>
          </div>
          <div class="col-sm">
            <div class="container file1">
<div class="container file1">
  <h1>&nbsp;</h1>
</div>
</div>
            <div class="card text-center">
              <div class="card-header">
                Anúnciate
              </div>
              <div class="card-body">
                <h5 class="card-title">Añade tu evento al mapa</h5>
                <p class="card-text">Publica un evento para que las personas que se encuentran cerca de él puedan acudir.</p>
                <a href="/auth/signup2" class="btn btn-outline-success">Anunciar eventos</a>
              </div>
              <div class="card-footer text-muted">
                Regístrate como anunciante
              </div>
            </div>
          </div>

                <div class="col-sm">
                  <img src="/images/madrid.jpg">
      </div>


      </div>



    </div>

    <br><br>