body {
  padding: 0 auto;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


#map{
  height: 500px;
  width: 100%;
}
.container-fluid {
  padding: 0 50px !important;
}

.container {
  margin: 40px 0;
}

.file1 {
  margin: 120px 0;
}

.footer-bg {
  background-color: #4ea84d;
}

.page-footer {
  color: white;
}

.page-footer a {
  color: white;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.col-sm img {
  border-radius: .25rem;
}

.card .btn {
  margin: 5px 0;
}