body {
  padding: 0 auto;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.nav-item {
  padding: 0 10px;
}

.container {
  margin: 40px 0;
}

.file1 {
  margin: 200px 0;
}

.footer-bg {
  background-color: #4ea84d;
}