<html>

<head>

</head>

<body>
  <h1>Mapa</h1>
  <a href="/maps/apievents">Aqui para el jason</a>
  <div id="map"></div>

<script> window.data = {{{data}}} </script>

<script src="/javascripts/apiData.js"></script>


</body>

</html>