<html>

<head>

</head>

<body>
  <h1>Mapa</h1>
  <div id="map"></div>



<script> window.events = {{{events}}} </script>

  <script src="/javascripts/getMap.js"></script>
  <script src="/javascripts/apiData.js"></script>


</body>

</html>