<html>

<head>

</head>

<body>
  <h1>Mapa</h1>
  <div id="map"></div>




  <script> window.events = {{{ events }}} </script>


  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB5zV84IbllnzEJ1PwadGFWFlWG76R_ho8&libraries=geometry"></script>
  <script src="/javascripts/getMap.js"></script>
  <script src="/javascripts/script.js"></script>
  <script src="/javascripts/apiData.js"></script>


</body>

</html>